# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Log files
*.tlog

# Build directories
build/
Debug/

#Other directories
ipch/

# Metadata
.DS_Store
*.xcuserstate
