div.board {
  width:            270px;
  height:           270px;
  
  position:         fixed;
  top:              50%;
  left:             50%;
  margin-top:       -135px;
  margin-left:      -135px;
}

div.box {
  width:            90px;
  height:           90px;
  
  outline-style:    solid;
  outline-width:    2px;
  outline-color:    black;
  
  float:            left;
}

div.block {
  width:            30px;
  height:           30px;
  
  outline-style:    solid;
  outline-width:    1px;
  outline-color:    black;
  
  text-align:       center;
  font-size:        28px;
  
  float:            left;
}

div.odd {
  background-color: #C0C0C0;
}

div.even {
  background-color: #D8D8D8;
}
